[submodule "src/Utils/Schemas"]
	path = src/Utils/Schemas
	url = https://github.com/Kastelll/Schemas
[submodule "src/Utils/SchemaTypes"]
	path = src/Utils/SchemaTypes
	url = https://github.com/Kastelll/Schemas.git
	branch = schema-types
[submodule "src/Utils/Cql"]
	path = src/Utils/Cql
	url = https://github.com/KastelApp/CqlTables
