package internal

import (
	"kstlws/internal"
	"math/big"
)

var ServerConstants = internal.Constants{
	Settings: internal.Settings{
		Max: internal.MaxSettings{
			GuildCount:             50,
			ChannelCount:           250,
			RoleCount:              250,
			InviteCount:            500,
			BanCount:               5_000,
			FriendCount:            100,
			MemberCount:            500,
			UsernameCount:          5_000,
			GuildNameLength:        100,
			GuildDescriptionLength: 500,
			GuildFetchLimit:        100,
			MessageLength:          1_000,
			MaxFileSize:            12 * 1_024 * 1_024,
		},
		Min: struct{}{},
		Captcha: internal.CaptchaSettings{
			Login:          false,
			Register:       false,
			ForgotPassword: false,
			ChangePassword: false,
			ChangeEmail:    false,
		},
		DisallowedWords: internal.DisallowedWordsSettings{
			Username: []string{},
			Guilds:   []string{},
			Channels: []string{},
			Global:   []string{},
		},
	},
	AllowedMentions: internal.AllowedMentions{
		Everyone: 1 << 5,
		Here:     1 << 6,
		Roles:    1 << 7,
		Users:    1 << 8,
	},
	ChannelTypes: internal.ChannelTypes{
		GuildCategory:  1 << 0,
		GuildText:      1 << 1,
		GuildNews:      1 << 2,
		GuildRules:     1 << 3,
		GuildVoice:     1 << 4,
		GuildNewMember: 1 << 5,
		Dm:             1 << 10,
		GroupChat:      1 << 11,
		GuildMarkdown:  1 << 12,
	},
	PresenceTypes: internal.PresenceTypes{
		Custom:    0,
		Playing:   1,
		Watching:  2,
		Listening: 3,
		Streaming: 4,
	},
	PrivateFlags: internal.PrivateFlags{
		Ghost:                      big.NewInt(1 << 0),
		System:                     big.NewInt(1 << 1),
		Staff:                      big.NewInt(1 << 2),
		BetaTester:                 big.NewInt(1 << 3),
		Bot:                        big.NewInt(1 << 4),
		VerifiedBot:                big.NewInt(1 << 5),
		Spammer:                    big.NewInt(1 << 6),
		Tos:                        big.NewInt(1 << 7),
		GuildBan:                   big.NewInt(1 << 8),
		FriendBan:                  big.NewInt(1 << 9),
		GroupchatBan:               big.NewInt(1 << 10),
		WaitingOnAccountDeletion:   big.NewInt(1 << 11),
		WaitingOnDisableDataUpdate: big.NewInt(1 << 12),
		AccountDeleted:             big.NewInt(1 << 13),
		EmailVerified:              big.NewInt(1 << 14),
		Disabled:                   big.NewInt(1 << 15),
		Terminated:                 big.NewInt(1 << 16),
		TwoFaEnabled:               big.NewInt(1 << 17),
		TwoFaVerified:              big.NewInt(1 << 18),
		IncreasedGuildCount100:     big.NewInt(1 << 25),
		IncreasedGuildCount200:     big.NewInt(1 << 26),
		IncreasedGuildCount500:     big.NewInt(1 << 27),
		IncreasedMessageLength2k:   big.NewInt(1 << 28),
		IncreasedMessageLength4k:   big.NewInt(1 << 29),
		IncreasedMessageLength8k:   big.NewInt(1 << 30),
	},
	Permissions: internal.Permissions{
		Administrator: internal.Permission{
			Int:            big.NewInt(1 << 0),
			Group:          "role",
			SubPermissions: map[string]*big.Int{},
		},
		Guild: internal.Permission{
			Int:   big.NewInt(1 << 1),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"ServerName":        big.NewInt(1 << 0),
				"ServerDescription": big.NewInt(1 << 1),
				"ServerIcon":        big.NewInt(1 << 2),
				"MaintenanceToggle": big.NewInt(1 << 3),
				"AddBots":           big.NewInt(1 << 4),
				"ViewAuditLog":      big.NewInt(1 << 5),
				"ManageVanity":      big.NewInt(1 << 6),
			},
		},
		Roles: internal.Permission{
			Int:   big.NewInt(1 << 2),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"RoleName":        big.NewInt(1 << 0),
				"RoleColor":       big.NewInt(1 << 1),
				"RolePosition":    big.NewInt(1 << 2),
				"RolePermissions": big.NewInt(1 << 3),
				"ManageUsersRoles": big.NewInt(1 << 4),
			},
		},
		Channels: internal.Permission{
			Int:   big.NewInt(1 << 3),
			Group: "both",
			SubPermissions: map[string]*big.Int{
				"ChannelName":                big.NewInt(1 << 0),
				"ChannelPosition":            big.NewInt(1 << 1),
				"ChannelTopic":               big.NewInt(1 << 2),
				"ChannelSlowmode":            big.NewInt(1 << 3),
				"ChannelAgeRestriction":      big.NewInt(1 << 4),
				"ChannelInvites":             big.NewInt(1 << 5),
				"ChannelWebhooks":            big.NewInt(1 << 6),
				"ChannelParent":              big.NewInt(1 << 7),
				"ChannelPermissionOverrides": big.NewInt(1 << 8),
				"DeleteChannel":              big.NewInt(1 << 9),
				"ViewChannels":               big.NewInt(1 << 10),
				"ViewMessageHistory":         big.NewInt(1 << 11),
				"SendMessages":               big.NewInt(1 << 12),
				"EmbedLinks":                 big.NewInt(1 << 13),
				"AttachFiles":                big.NewInt(1 << 14),
				"AddReactions":               big.NewInt(1 << 15),
				"UseExternalEmojis":          big.NewInt(1 << 17),
				"UseChatFormatting":          big.NewInt(1 << 18),
				"ManageMessages":             big.NewInt(1 << 19),
				"BypassSlowmode":             big.NewInt(1 << 20),
			},
		},
		Members: internal.Permission{
			Int:   big.NewInt(1 << 4),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"MemberNickname": big.NewInt(1 << 0),
				"MemberRoles":    big.NewInt(1 << 1),
				"MemberDeafen":   big.NewInt(1 << 5),
				"MemberMove":     big.NewInt(1 << 6),
				"MemberVoice":    big.NewInt(1 << 7),
			},
		},
		Emojis: internal.Permission{
			Int:   big.NewInt(1 << 5),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"EmojiName":   big.NewInt(1 << 0),
				"EmojiImage":  big.NewInt(1 << 1),
				"UploadEmoji": big.NewInt(1 << 2),
				"DeleteEmoji": big.NewInt(1 << 3),
			},
		},
		Moderation: internal.Permission{
			Int:   big.NewInt(1 << 6),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"BanMembers":     big.NewInt(1 << 0),
				"UnbanMembers":   big.NewInt(1 << 1),
				"ViewBans":       big.NewInt(1 << 2),
				"KickMembers":    big.NewInt(1 << 3),
				"TimeoutMembers": big.NewInt(1 << 4),
			},
		},
		ManageNicknames: internal.Permission{
			Int:   big.NewInt(1 << 7),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"Nickname":       big.NewInt(1 << 0),
				"ChangeNickname": big.NewInt(1 << 1),
			},
		},
		ManageInvites: internal.Permission{
			Int:   big.NewInt(1 << 8),
			Group: "role",
			SubPermissions: map[string]*big.Int{
				"CreateInvite": big.NewInt(1 << 0),
				"DeleteInvite": big.NewInt(1 << 1),
				"ViewInvites":  big.NewInt(1 << 2),
			},
		},
	},
	RelationshipFlags: internal.RelationshipFlags{
		None:          0,
		Blocked:       1,
		FriendRequest: 2,
		Friend:        3,
		MutualFriend:  4,
	},
	VerificationFlags: internal.VerificationFlags{
		VerifyEmail:    1,
		ForgotPassword: 2,
		ChangeEmail:    3,
	},
	PublicFlags: internal.PublicFlags{
		StaffBadge:                 big.NewInt(1 << 0),
		GhostBadge:                 big.NewInt(1 << 1),
		SponsorBadge:               big.NewInt(1 << 2),
		DeveloperBadge:             big.NewInt(1 << 3),
		VerifiedBotDeveloperBadge:  big.NewInt(1 << 4),
		OriginalUserBadge:          big.NewInt(1 << 5),
		PartnerBadge:               big.NewInt(1 << 6),
		ModeratorBadge:             big.NewInt(1 << 7),
		MinorBugHunterBadge:        big.NewInt(1 << 8),
		IntermediateBugHunterBadge: big.NewInt(1 << 9),
		MajorBugHunterBadge:        big.NewInt(1 << 10),
	},
	GuildFeatures: []internal.GuildFeatures{
		{
			Name:       "Partnered",
			Deprecated: false,
			Default:    false,
			Settable:   false,
			NewDefault: false,
		},
		{
			Name:       "Verified",
			Deprecated: false,
			Settable:   false,
			NewDefault: false,
		},
		{
			Name:       "Official",
			Deprecated: false,
			Settable:   false,
			NewDefault: false,
		},
		{
			Name:       "Maintenance",
			Deprecated: false,
			Settable:   true,
			NewDefault: false,
		},
		{
			Name:       "InternalStaffGuild",
			Deprecated: false,
			Settable:   false,
			NewDefault: false,
		},
	},
	PermissionOverrideTypes: internal.PermissionOverrideTypes{
		Role:     1 << 0,
		Member:   1 << 1,
		Everyone: 1 << 2,
	},
	StatusTypes: internal.StatusTypes{
		Offline:   1 << 0,
		Online:    1 << 1,
		Idle:      1 << 2,
		Dnd:       1 << 3,
		Invisible: 1 << 4,
	},
	GuildMemberFlags: internal.GuildMemberFlags{
		Left:    1 << 0,
		In:      1 << 1,
		Kicked:  1 << 2,
		Banned:  1 << 3,
		Owner:   1 << 4,
		CoOwner: 1 << 5,
	},
	MessageFlags: internal.MessageFlags{
		System:   1 << 0,
		Normal:   1 << 1,
		Deleted:  1 << 3,
		Reported: 1 << 4,
	},
	NonDeletableMessageFlags: internal.MessageFlags{
		Deleted:  1 << 3,
		Reported: 1 << 4,
	},
	InviteFlags: internal.InviteFlags{
		Normal:     1 << 0,
		GroupChat:  1 << 1,
		FriendLink: 1 << 2,
		Vanity:     1 << 3,
	},
}
